@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

@keyframes aurora-animation {
  from {
    transform: translate(0, 0) scale(1.2);
  }

  to {
    transform: translate(50px, 50px) scale(1.5);
  }
}

/* Aurora effect background */
.aurora-background::before,
.aurora-background::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: screen;
}

.aurora-background::before {
  background: radial-gradient(circle, rgba(34, 193, 195, 0.2), rgba(34, 193, 195, 0) 70%);
  animation: aurora-animation 8s infinite alternate;
}

.aurora-background::after {
  background: radial-gradient(circle, rgba(253, 187, 45, 0.2), rgba(253, 187, 45, 0) 70%);
  animation: aurora-animation 8s infinite alternate 4s;
}